.card-container{

    direction: rtl !important;
     
} 
.button-primary{
    float: right;
    color: #ffffff;
}
.card-body-dog{
    background-color: #ffffff;
    font-size: x-small !important;
}
.name-text{
    font-size: 20px;
}
.percent-text{
    font-size: 18px;
}
.dog-image{
    border-radius: 2%;
}
