/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */

.gallery-container{

  min-height: 100vh;
	background-color: #d8d8d8;

	margin: 0px;
	padding: 0 2rem 2rem;
    

}
/* #b579d2 */


.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}
.dogs-gallery{
  direction: rtl !important;
}
.dog-card {
  box-shadow: 0px 0px 10px 10px #ffffff ;
  width: 17rem !important;
  margin: auto !important;
}

.card-dog {
  width: 280px;
  display: block;
  margin: auto;
  box-shadow: 10px 5px 40px 20px #2d1896;
  transition: 0.25s;
}
.card-dog:hover {
  box-shadow: 10px 5px 40px 20px #271580;
  cursor: pointer;
}
.card:hover .button-primary {
  transform: translate(10px, 0);
}

.card-dog-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-dog-header-title {
  text-transform: uppercase;
  margin: 0;
}

.card-dog-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: #341cac;
  font-size: 15px;
  transition: 0.25s;
}
.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

.app-header {
  display: block;
  padding: 30px;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
}
@media (min-width: 768px) {
  .app-title {
    width: 20%;
    margin: 280px 0 0 0;
  }
}
.app-title h1 {
  font-size: 52px;
  margin: 0;
}
.app-title p {
  font-weight: 200;
  opacity: 0.5;
}

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .app-title-content {
    width: auto;
    position: absolute;
    text-align: left;
  }
}

.app-card-dog-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .app-card-dog-list {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }
}
.app-card-list .card-dog {
  margin: 60px 30px;
  display: inline-block;
}
.app-card-dog-list .card-dog .card-dog-body {
  white-space: normal;
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}
.match-title {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffc1c1 0px 0px 20px, #FF2D95 0px 0px 30px, #ffc1c1 0px 0px 40px, #ffc1c1 0px 0px 50px, #ffc1c1 0px 0px 75px, 8px 5px 3px rgba(179, 179, 179, 0.33);
  color: #FFFFFF;

}
#title{

  margin: auto;
}