/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */



.gallery-container{

  min-height: 100vh;
	 background-image: url("../images/compress/43978-min.jpg");

	margin: 0px;
	padding: 0 2rem 2rem;
  background-position: top;
  background-repeat: no-repeat;
  

}

/* #b579d2 */
#title{

  margin: auto;
  color: rgba(255, 255, 255, 0.877) ;
  font-size: 7rem;
    
  font-family: Arial, Helvetica, sans-serif;
  border-bottom:3px solid rgba(255, 255, 255, 0.212);
  border-radius: 20%;
  padding: 0 3rem;
  text-align: center;
  text-shadow: 2px 2px 100px #fbff00;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}
.dogs-gallery{
  direction: rtl !important;
}
.dog-card {
 
  width: 17rem !important;
  margin: auto !important;
  background-color: transparent !important;
}

.card-dog {
  width: 280px;
  display: block;
  margin: auto;
  
  transition: 0.25s;
  background-color: transparent !important;
}
.card-dog:hover {

  cursor: pointer;
}
.button-primary:hover {
  transform: translate(10px, 0);
  color: #a6c;
}
.card-body-dog {
  color: white !important;
  background-color:   rgba(10, 10, 10, 0.8) !important;
  font-size: x-small !important;
}
.card-dog-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-dog-header-title {
  text-transform: uppercase;
  margin: 0;
}

.card-dog-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: #341cac;
  font-size: 15px;
  transition: 0.25s;
}
.button-primary i {
  padding-right: 4px;
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

.app-header {
  display: block;
  padding: 30px;
}

.app-title {
  display: inline-block;
  width: 100%;
  margin: 80px 0 0 0;
  float: left;
  position: relative;
  color: #fff;
}
/* @media (min-width: 768px) {
  .app-title {
    width: 20%;
    margin: 280px 0 0 0;
  }
} */
.app-title h1 {
  font-size: 52px;
  margin: 0;
}
.app-title p {
  font-weight: 200;
  opacity: 0.5;
}

.app-title-content {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* @media (min-width: 768px) {
  .app-title-content {
    width: auto;
    position: absolute;
    text-align: left;
  }
} */

.app-card-dog-list::-webkit-scrollbar {
  display: none;
}
/* @media (min-width: 768px) {
  .app-card-dog-list {
    width: 80%;
    white-space: nowrap;
    margin-top: 0;
  }
} */
.app-card-list .card-dog {
  margin: 60px 30px;
  display: inline-block;
}
.app-card-dog-list .card-dog .card-dog-body {
  white-space: normal;
}

.designer-link {
  display: inline-block;
  padding-top: 40px;
}
.match-title {
  
  
  color: #FFFFFF;
  

}


/*responsive*/
@media(max-width :600px){

  .gallery-container{


    background-size: cover;
  }
  #title{

    font-size: 2.5rem ;
  }
}