@media(min-width : 600px){
  
.main-page{
  background-image: url("../images/dogs2.jpg");

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-button {
  background-color: #0bc0c7 !important;
  width: 125px !important;
  color: #ffffff;
  font-weight: bold;
  float: right;
  

  font-size: 13px;
  border-radius: 83% 17% 84% 16% / 74% 13% 87% 26%;
}
.buttons-div {
  margin-top: 160px !important;
}

}

@media (max-width : 600px){
  .main-page{
    background-image: url("../images/black-dog.jpg");
    
    /* Full height */
    height: auto;
  
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .how-it-works{
    color: #6a7180;
  }
  .bottom-buttons-section{

    margin-top: 15rem;
  }
  .login-button {
    background-color: #3d3131 !important;
    width: 125px !important;
    color: #ffffff;
    font-weight: bold;
    float: right;
    
  
    font-size: 13px;
    border-radius: 83% 17% 84% 16% / 74% 13% 87% 26%;
  }
  .quarter{

    min-width: 350px !important;
    margin: 0px !important;
  }


}
.main-content {
  margin: auto;
  justify-content: center;
  margin-top: 1rem;
}

.main-card {
  background-color: #c9c9c9;
}

.quiz-button-start:hover,
.quiz-button-form:hover {
  background-color: #6a7180 !important;
}

.quiz-button-start {
  width: 125px !important;

  float: left;

  font-size: 13px;
  border-radius: 40px;
}

.quiz-button-form {
  background-color: #ff00b3 !important;
  width: 125px !important;

  float: right;

  font-size: 13px;
  border-radius: 40px;
}



.login-button:hover {
  background-color: #034d50 !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: transparent !important;
}
.modal-content{

  background-image: url("../images/dosg-info3.jpg");


  
  /* Center and scale the image nicely */
  background-position: center;
 
  background-size: cover;
}
.quarter{
  color: #eee;
  background-color: #0e0e0e;
  opacity: 0.75;
  margin: 20px;
  height: 220px;

  text-align: center;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 5px;
  font-size: 15px;
}

.quarter-title{
  margin: 10px 0px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.sub-title{
  font-weight: bolder;
  font-size: larger;
  color: rgb(212, 255, 239);
}.close {
  float: right;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.close:hover{
  color: red;
}
.info-icon:hover 
{
  color: #ff00b3 ;
  font-size: larger;
}