
.main-quiz {
  background-image: url("../images/compress/dogs2-min.jpg");

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.question {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 3px;
  color: #333233;
}

@media (min-width: 769px) {
  .question {
    margin: 2.5rem auto;
  }
}

.quiz-content {
  margin: auto;
  justify-content: center;
  margin-top: 10rem;
}
.quiz-card {
  background-color: #c9c9c9;
}
.btn-next-prev:hover {
  background-color: #6a7180 !important;
}
.question button {
  width: 125px !important;
  height: 46 !important;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ff00b3;
  transition: width 0.6s ease;
}
