.form-new-dog{
   
    direction: rtl !important;
 
}
.modal-backdrop.show {
  opacity: .5;
  background-color: rgb(158, 124, 124) !important;
}
.modal-explain{
  direction: rtl !important;
  text-align: right;

}
.form-card{
  margin-top: 5rem;

}
.form-main-div {
    background-image: url("../images/dogs2.jpg");
    opacity: 0.9;
    /* Full height */
    height: 100% !important;
    margin-top: -4em;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .invalid{

    background-color: pink;
  } */
  .react-confirm-alert{
    direction: rtl !important;

  }
  .react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: center;
 
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
   
}

  .react-confirm-alert-button-group > button {
    outline: none;
    background-color: #0bc0c7 !important;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin: auto !important;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.main-title{
  color: rgb(236, 236, 236);
  margin-bottom: 1rem;
  font-weight: bold;
  
}.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 59, 6);
}
.modal-content{

  background-image: url("../images/dosg-info3.jpg");


  
  /* Center and scale the image nicely */
  background-position: center;
 
  background-size: cover;
}
.quarter{
  color: #eee;
  background-color: #0e0e0e;
  opacity: 0.75;
  margin: 20px;
  height: 220px;

  text-align: center;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 5px;
  font-size: 15px;
}

.quarter-title{
  margin: 10px 0px;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.sub-title{
  font-weight: bolder;
  font-size: larger;
  color: rgb(212, 255, 239);
}
