.main-new-dog {
  background-image: url("../images/dogs2.jpg");

  /* Full height */
  height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-dog-container {
  max-width: 550px;

  background-color: rgb(143, 143, 143);
}

.form-content {
  color: rgb(255, 255, 255);
}
