.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}.unique-color-dark {
    background-color: #ffffff8c !important;
}