
.main-login {
  background-color: #ffffff;
}
.login-card {
  background-color: #ffffff;
}
.md-form label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: #ffffff;
  cursor: text;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transform: translateY(12px);
  transform-origin: 0% 100%;
}
