body {
    background-image: url("./components/images/dogs2.jpg");
  
    /* Full height */
    height: 100%;
    opacity: 0.9;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  